*{
	margin: 0;
	padding: 0;
}
:root{
	--larguraProduto: 48%;
	--larguraProdutoVW: 24vw;
	--topoAltura: 20vh;
	--esquerdaLargura: 70vw;
	--tiposAltura: 4vw;
	--corPrecos: rgb(240,240,240);
	--corUm: rgb(00, 100, 150);
	--corDois: rgb(00, 80, 120);
}
#topo{
	width: 100%;
	background-color: var(--corDois);
	height: var(--topoAltura);
	margin-bottom: 2.5vw;
}
#esquerda{
	width: var(--esquerdaLargura);
	float: left;
	height: var(--topoAltura);
}
#inicial{
	font-size: 5vw;
	display: flex;
	align-items: center;
	height: var(--topoAltura);
	padding-left: 5%;
	color: white;
	cursor: pointer;
}
#tipos{
	margin-left: var(--esquerdaLargura);
	border-radius: 1vw;
	position: absolute;
	width: 25%;
	font-size: 2vw;
	overflow: hidden;
	height: var(--tiposAltura);
	transition-duration: 0.2s;
	margin-top: calc(var(--topoAltura)/2 - var(--tiposAltura)/2);
}
#tipos:hover{
	height: calc(var(--tiposAltura) * 7 + 3.5vw);
	transition-duration: 0.5s;
}
#tipos p{
	border-radius: 1vw;
	background-color: cadetblue;
	display: flex;
	align-items: center;
	cursor: pointer;
	height: var(--tiposAltura);
	margin-bottom: 0.5vw;
	transition-duration: 0.5s;
	padding-left: 0.5vw;
}
#tipos .links:hover{
	padding-left: 2vw;
	transition-duration: 0.2s;
}
.produtos{
	width: 100%;
	display: flex;
	margin-bottom: 2vw;
	padding-top: 0.5vw;
	padding-bottom: 0.5vw;
}
.produtosDupla{
	width: 50%;
	float: left;
}
.produto{
	width: var(--larguraProduto);
	margin-left: 0.8vw;
	font-size: 1.5vw;
	float: left;
	background-color: white;
	border-style: solid;
	border-color: black;
	box-sizing: border-box;
	border-width: 0.15vw;
}
.produtoFoto{
	width: 100%;
	height: var(--larguraProdutoVW);
	overflow: hidden;
	border-radius: 2vw;
}
.produtoFoto img{
	width: 100%;
}
.produto:hover img{
	width: 120%;
	margin-left: -10%;
	margin-top: -10%;
	transition-duration: 0.2s;
}
.produtoNome{
	background-color: var(--corPrecos);
	margin-top: 0.5vw;
	padding: 1vw;
	color: black;
	border-style: solid;
	border-color: black;
	box-sizing: border-box;
	border-width: 0.15vw;
	border-left-width: 0;
	border-right-width: 0;
}
.produtoPreco{
	text-align: right;
	padding: 0.5vw;
	background-color: var(--corPrecos);
	color: black;
}

@media (orientation: portrait) {
	:root{
		--larguraProduto: 48%;
		--larguraProdutoVW: 24vw;
		--topoAltura: 20vh;
		--esquerdaLargura: 50vw;
		--tiposAltura: 8vw;
		--corPrecos: rgb(240,240,240);
		--corUm: rgb(00, 100, 150);
		--corDois: rgb(00, 80, 120);
	}	
	#tipos{
		margin-left: var(--esquerdaLargura);
		width: 45%;
		font-size: 4.5vw;
		height: var(--tiposAltura);
	}
	.produtosDupla{
		width: 100%;
		float: left;
		margin-bottom: 2vw;
	}
	.produtos{
		width: 100%;
		display: unset;
		margin-bottom: 2vw;
		padding-top: 0.5vw;
		padding-bottom: 0.5vw;
	}
	.produtoFoto{
		width: 100%;
		height: calc(var(--larguraProdutoVW)*2);
		overflow: hidden;
		border-radius: 2vw;
	}
	.produto{
		margin-left: 0.8vw;
		font-size: 4vw;
	}
	#inicial{
		font-size: 10vw;
	}
}