<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel='stylesheet' type='text/css' media='screen' href='/static/css/inicio.css'>
</head>
<body>
	<div id="topo">
		<div id="esquerda">
			<div id="inicial">
				Tela inicial
			</div>
		</div>
		<div id="tipos">
			<p>Filtrar</p>
			<p class="links">Segurança</p>
			<p class="links">Alarme e Cercas</p>
			<p class="links">Controle de Acesso</p>
			<p class="links">Telefonia e Interfonia</p>
			<p class="links">Eletrônicos</p>
			<p class="links">Informática</p>
		</div>
	</div>
</body>
</html>